@use "reset";
@use "abstracts";
@use "components";
@import "https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800,900";

* {
    box-sizing: border-box;
}

:root {
    --brand: #4673e5;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #040404;
    padding: 1rem;

    &.theme_slate {
        color: #fff;
        background-color: #5d6066;
    }
}
