@use "../abstracts";

input {
    color: #fff;
    padding: 10px 12px;
    width: 100%;
    border-radius: 8px;
    @include abstracts.backdrop_primary;

    transition: all 0.1s ease;
    &:focus {
        outline: none;
        border-color: rgba(255, 255, 255, 0.35);
    }
}
