@use "../abstracts";

.main__dialog {
    @include abstracts.backdrop_primary;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 20px;
    max-width: 55ch;
    color: #fff;

    &::backdrop {
        backdrop-filter: blur(5px);
        background-color: #0000002a;
        transition: all 0.2s ease;
    }

    @supports not (backdrop-filter: blur(20px)) {
        background-color: abstracts.$background_filled;
    }

    &__header {
        font-size: 20px;
        font-weight: 500;
    }

    &__form {
        color: #fff;

        &__input {
            &.color {
                height: 100px;
                cursor: pointer;
            }
        }

        &__label {
            font-size: 11px;
            opacity: 0.6;
        }

        & .required {
            color: abstracts.$danger;
            font-weight: 700;
            font-size: 11px;
            opacity: 1;
        }
    }

    * + * {
        margin-top: 10px;
    }
}
