$border_primary: 1px solid rgba(255, 255, 255, 0.1);
$border_secondary: 1px solid rgba(255, 255, 255, 0.5);

$background_primary: rgb(255, 255, 255, 0.05);
$background_filled: rgb(29, 29, 29);

$brand: rgb(70, 115, 229);
$danger: rgb(245, 90, 90); ;
