@import "node_modules/nord/src/nord.css";

body {
    background-color: #3b4252 !important;
}

html {
      background: #2e3440 !important;
}

::-moz-selection { 
  color: black;
  background: #BAD6FB;
}

::selection {
  color: black;
  background: #BAD6FB;
}

#Tilda {
    color: #5e81ac !important;
}

.Link1:focus,
.Link1:hover {
    color: #F2AA65;
}

.Link1 {
    color: white;
}

.Head {
    color: white;
}

.Header {
    color: white;
}

.Subview {
    color: white;
}

#aboutText {
    color: white;
}
.Input {
    color: white;
}
