body {
    background: linear-gradient(90deg, rgb(58, 49, 90) 0%, rgb(59, 49, 76) 45%, #4b3157 100%);
}

.PageDiv {
    display: flex;
    width: 500px;
    height: 5px;
    background-color: white;
}

.TitleBar {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
}

.Header {
    font-size: 13pt;
    font-weight: normal;
    color: white;
    font-family: Cascadia Code;
    padding-left: 40px;
}

.Subview {
    font-size: 13pt;
    font-weight: normal;
    color: white;
    font-family: Cascadia Code;
    padding-left: 40px;
}
