body {
    background: linear-gradient(90deg, rgb(58, 49, 90) 0%, rgb(59, 49, 76) 45%, #4b3157 100%);
}

.PageDiv {
    width: initial;
    height: 2px;
    background-color: #fff3;
    display: flex;
}

.TitleBar {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
}

.Header {
    font-size: 13pt;
    font-weight: normal;
    color: white;
    font-family: Cascadia Code;
    padding-left: 40px;
}

.Subview {
    font-size: 13pt;
    font-weight: normal;
    color: white;
    font-family: Cascadia Code;
    padding-left: 40px;
}

.Input {
    padding-left: 40px;
    backround-color: transparent;
}
