@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
    --bg-default: linear-gradient(90deg, rgb(58, 49, 90) 0%, rgb(59, 49, 76) 45%, #4B3058 100%);
    --bg-nord: #2e3440;
    --bg-gruvbox: #E0D4B0;
    
    --term-default: #1d1f21;
    --term-nord: #3b4252;
    --term-gruvbox: #282828;
    
    --tilda-default: #2e43c0;
    --tilda-nord: #5e81ac; 
    --tilda-gruvbox: #558387;
    
    --hover-default: #F2AA65;
    --hover-nord: #ebcb8b;
    --hover-gruvbox: #F1BF4F;
    
    --text-default: white;
    --text-nord: white;
    --text-gruvbox: #E0D4B0;
}

.default {
    --bg: var(--bg-default);
    --term: var(--term-default);
    --tilda: var(--tilda-default);
    --hover: var(--hover-default);
    --text: var(--text-default);
}

.nord {
    --bg: var(--bg-nord);
    --term: var(--term-nord);
    --tilda: var(--tilda-nord);
    --hover: var(--hover-nord);
     --text: var(--text-nord);
}

.gruvbox {
    --bg: var(--bg-gruvbox);
    --term: var(--term-gruvbox);
    --tilda: var(--tilda-gruvbox);
    --hover: var(--hover-gruvbox);
     --text: var(--text-gruvbox);
}

body {
    background-color: var(--term);
    width: 700px;
    height: 450px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding-top: 1.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
    padding-left: 2.5em;
}

html {
      align-items: center;
      background: var(--bg);
      color: #232327;
      display: flex;
      height: 100%;
      justify-content: center;
}

::-moz-selection { 
  color: black;
  background: #BAD6FB;
}

::selection {
  color: black;
  background: #BAD6FB;
}

div {
    height: 15px;
}

#Tilda {
   color: var(--tilda) !important;
}

.SearchButton {
    display: none;
}

.PageDiv {
    width: initial;
    height: 2px;
    background-color: #fff3;
    display: flex;
}

.TitleBar {
    display: flex;
    justify-content: center;
    color: var(--text);
    font-family: Arial;
}

a #cursor {
    background-color: var(--text);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}

.Link1:focus,
.Link1:hover {
    font-weight: bold;
    color: var(--hover);
}

.Link1 {
    color: var(--text);
    font-size: 13pt;
    font-family: 'Cascadia Code';
    padding-left: 20px;
    text-decoration: transparent;
}

.Head {
    font-size: 13pt;
    font-family: 'Cascadia Code';
    color: var(--text);
}

.Header {
    font-size: 13pt;
    font-weight: normal;
    color: var(--text);
    font-family: 'Cascadia Code';
    padding-left: 40px;
}

.Subview {
    font-size: 13pt;
    font-weight: normal;
    color: var(--text);
    font-family: 'Cascadia Code';
    padding-left: 40px;
}

#aboutText {
    font-size: 13pt;
    font-weight: normal;
    color: var(--text);
    font-family: 'Cascadia Code';
    padding-left: 20px;
}
.Input {
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--text);
    content: "hello";
    font-size: 13pt;
    font-family: 'Cascadia Code';
    margin-left: 36.5px;
    left: -40px;
    position: relative;
    display: inline;
    width: 570px;
}

.Input:focus {
    outline: 2px solid transparent;
}
